@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap");
:root {
    --banner-height: 240px;
    --orange: #ff764e;
    --blue: #5ed3eb;
    --yellow: #ffcd69;
    --pink: #ddb9a3;
    --light-pink: #f9e7dd;
    font-family: "Roboto Mono";
    --decorative-font: "Chelsea Market";
}

h1 {
    font-family: var(--decorative-font);
    font-size: 3em;
}

header {
    display: block;
    height: var(--banner-height);
    text-align: center;
    margin-bottom: 3em;
}

#header_img-wrapper {
    width: 33vw;
    display: inline;
    position: absolute;
    left: 0;
}

header>#header-text {
    width: 66vw;
    display: inline;
    position: absolute;
    right: 0;
}

#header_img {
    height: var(--banner-height);
    border-radius: 50%;
    margin-left: 80px;
}

#footer-banner {
    width: 100%;
    height: var(--banner-height);
}

nav {
    display: block;
    text-align: center;
}

nav>ul {
    list-style-type: none;
}

nav>ul>li {
    padding: 8px;
    border-radius: 8px;
    display: inline-block;
    width: 7em;
    height: 3em;
    vertical-align: -webkit-baseline-middle;
    margin: 3em;
}

nav>ul>li>a {
    text-decoration: none;
}

nav>ul>li:nth-child(1) {
    background-color: var(--orange);
}

nav>ul>li:nth-child(2) {
    background-color: var(--blue);
}

nav>ul>li:nth-child(3) {
    background-color: var(--yellow);
}

footer {
    max-height: 400px;
    background-color: var(--light-pink);
}

footer>nav {
    position: relative;
    bottom: 1em;
}

#description {
    background-color: var(--pink);
    padding: 2em;
    color: whitesmoke;
    margin-bottom: 2em;
}

#advisory>p {
    margin-bottom: 2em;
}

#advisory-wrapper {
    width: 100%;
    text-align: center;
}

#advisory {
    max-width: 33vw;
    margin-left: 33vw;
    text-align: center;
}

#advisory>img {
    height: 120px;
}

.p2 {
    display: inline-block;
    max-width: 60%;
}