:root {
    --banner-height: 240px;
    --orange: #ff764e;
    --blue: #5ed3eb;
    --yellow: #ffcd69;
}

footer {
    max-height: 400px;
}

header {
    border: 1px dotted red;
    display: block;
    height: var(--banner-height);
    text-align: center;
}

header>img {
    height: var(--banner-height);
    border-radius: 50%;
    float: left;
    margin-left: 80px;
}

footer>img {
    width: 100%;
}

nav>ul {
    list-style-type: none;
}

nav>ul>li {
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
}

nav>ul>li>a {
    text-decoration: none;
}

nav>ul>li:nth-child(1) {
    background-color: var(--orange);
}

nav>ul>li:nth-child(2) {
    background-color: var(--blue);
}

nav>ul>li:nth-child(3) {
    background-color: var(--yellow);
}

.advisory>img {
    height: 120px;
}